* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}

.container {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.container div {
  background-color: #fef39a;
}